# <a id="#">Task 1.4 – Writing loops in Python</a>

**<a id="#">Task 1.4.1.</a>** Use a `while`-loop to write the numbers from 5 to 15.

**Hint:** The Syntax of a `while`-loop is
```python
while condition:
    operation
```

Example:
```python
i = 0
while i < 10:
    print(i)
    i = i + 1
```

**Hint:** Variables and text can be printed using `print`, for example:
```python
print(i)
print('The result is i=' + str(i))
```

**Hint:** If your code cell keeps running seemingly forever, you have probably produced an *infinite loop*. In that case, you can interrupt the execution of the code cell by clicking the □ button which appears right to the left of the executed cell, and then fix the problem. If the □ button does not appear, try clicking the cell first!

In [13]:
i=5
while i < 16:
    print(i)
    i = i+1

5
6
7
8
9
10
11
12
13
14
15

<div class="alert alert-block alert-success"><b>Hint:</b> Now might be a good moment to commit and push your progress :) preferably, you should be doing this <em>at least</em> after completing each task. It doesn't harm if you do it sometimes in between too, e.g., when you feel like you have had some significant progress with a task.</div>

**<a id="#">Task 1.4.2.</a>** Use a `while`-loop to compute and write the squares of the numbers from 1 to 20. The result should be shown like:
```
1 -> 1
2 -> 4
3 -> 9
…
20 -> 400
```
**Hint:** Square of a number `i` can be computed by `i ** 2` or `i * i`.

In [16]:
i=1
while i<21: 
    print(i**2)
    i= i+1

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

**<a id="#">Task 1.4.3.</a>** Copy your solution from **Task 1.4.2** and modify the code such that *the squares are only computed for even numbers*.

In [17]:
i=2
while i<21: 
    print(i**2)
    i= i+2

4
16
36
64
100
144
196
256
324
400

**<a id="#">Task 1.4.4.</a>** Use a `for`-loop to compute the sum of the numbers from 1 to 100. The correct result would be 5050.

**Hint:** The Syntax of a `for`-loop is
```python
for i in iterable:
    operation
```

Example:
```python
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(i)
```

**Hint:** An `iterable` sequence of numbers from `i` (inclusive) to `j` (exclusive) can be constructed using `range(i, j)`.

In [34]:
sum=0
for i in (range(1,101)):
    sum+=i
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

**<a id="#">Task 1.4.5.</a>** Generate the times table ("Kleines Einmaleins") by using two nested for loops, i.e., using an outer and an inner loop. The result should be shown like:
```
1 2 3 … 10
2 4 6 … 20
3 6 9 … 30
…
10 20 30 … 100
```

**Hint:** The function `print(s, end='')` works like `print(s)` but does *not* append a line break (as `print(s)` does).

In [38]:
for i in range(1,11):
    for j in range (1,11):
        print(i*j,end="")
        print()

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70
8
16
24
32
40
48
56
64
72
80
9
18
27
36
45
54
63
72
81
90
10
20
30
40
50
60
70
80
90
100

**<a id="#">Task 1.4.6.</a>** Copy your solution from **Task 1.4.5** and modify the code such that *values below 10 in the times table have a leading zero* (e.g., `05` instead of only `5`). This can be achieved, for example, by using an `if`-statement.

**Hint:** The Syntax of an `if`-statement is
```python
if condition:
    operation1
else:
    operation2
```

Example:
```python
if val < 5:
    print('val is less than 5')
else:
    print('val is larger or equal 5')
```

In [50]:
for i in range(1,11):
    for j in range (1,11):
        k=i*j
        if k< 10:
            print("0"+str(k),end="")
        else:
            print(k)

01020304050607080910
0204060810
12
14
16
18
20
03060912
15
18
21
24
27
30
040812
16
20
24
28
32
36
40
0510
15
20
25
30
35
40
45
50
0612
18
24
30
36
42
48
54
60
0714
21
28
35
42
49
56
63
70
0816
24
32
40
48
56
64
72
80
0918
27
36
45
54
63
72
81
90
10
20
30
40
50
60
70
80
90
100